<div class="salon-profile container mt-4">
  
  <h2 *ngIf="!editMode">{{ salon.name }}</h2>
  <input *ngIf="editMode" type="text" [(ngModel)]="salon.name" class="form-control mb-2" placeholder="Salon Name">

  <p *ngIf="!editMode">Email: {{ salon.email }}</p>
  <input *ngIf="editMode" type="email" [(ngModel)]="salon.email" class="form-control mb-2" placeholder="Salon Email">

  <p *ngIf="!editMode">Phone: {{ salon.phone }}</p>
  <input *ngIf="editMode" type="tel" [(ngModel)]="salon.phone" class="form-control mb-2" placeholder="Salon Phone">

  <p *ngIf="!editMode">Address: {{ salon.address }}</p>
  <input *ngIf="editMode" type="text" [(ngModel)]="salon.address" class="form-control mb-2" placeholder="Salon Address">

  <p *ngIf="!editMode">{{ salon.description }}</p>
  <textarea *ngIf="editMode" [(ngModel)]="salon.description" class="form-control mb-2"
    placeholder="Salon Description"></textarea>


  <h3 *ngIf="!editMode">Services Offered</h3>
  <div *ngIf="editMode">
    <h3>Edit Services</h3>
    <ng-select [items]="availableServices" [multiple]="true" bindLabel="name" bindValue="id"
      [(ngModel)]="selectedServiceIds" [closeOnSelect]="false" placeholder="Select services" class="form-control mb-2">

      <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="group-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item | uppercase}}
      </ng-template>


      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="service-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.name}}
      </ng-template>
    </ng-select>

  </div>
  <ul *ngIf="!editMode">
    <li *ngFor="let service of salon.services">{{ service.name }} - ${{ service.price }}</li>
  </ul>


  <button class="btn btn-secondary mb-2" (click)="toggleEditMode()">
    {{ editMode ? 'Cancel' : 'Edit Profile' }}
  </button>
  <button *ngIf="editMode" class="btn btn-primary mb-2" (click)="saveProfile()">Save Changes</button>
</div>
