<div class="container mt-5">
    <h1 class="mb-5">Sign Up</h1>
    <form (ngSubmit)="onSignUp()">
      <div class="form-group m-2">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group m-2">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username">
      </div>
      <div class="form-group m-2">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password">
        <label for="password">Confirm Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="password" name="confirmPassword">
      </div>
      <div class="form-group m-2">
        <label for="userType">User Type</label>
        <select class="form-control" id="userType" [(ngModel)]="role" name="role">
          <option>client</option>
          <option>salon</option>
        </select>
      </div>
      <!-- Success Message -->
      <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
      </div>
  
      <!-- Error Message -->
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      <br>
      <button type="submit" class="btn btn-primary m-2 ">Sign Up</button>
      <button type="nav" (click)="navigate()" class="btn btn-secondary ml-auto ">Sign In</button>
    </form>
  </div>
  