<div class="container">
  <h2>Manage Salon Slots</h2>
  <!-- <div class="mb-3">
    <input type="text" class="form-control" [(ngModel)]="newSlotTime" placeholder="HH:MM AM/PM">
    <button class="btn btn-success mt-2" (click)="addSlot()">Add New Slot</button>
  </div> -->
  <div *ngIf="reservations.length === 0" class="alert alert-info">
    There are no reservations yet.
  </div>
  <ul class="list-group" *ngIf="reservations.length > 0">
    <li *ngFor="let slot of reservations" class="list-group-item">
      Time: {{slot.reservation.reservation_date | date:'short'}}
      <span class="mx-4">Booked by: User {{slot.user.username}}</span>
      <button class="btn btn-success mx-3" *ngIf="slot.reservation.status === null" (click)="acceptReservation(slot.salon_id, slot.user.id)">Accept</button>
      <button class="btn btn-danger mx-3" *ngIf="slot.reservation.status === null" (click)="refuseReservation(slot.salon_id, slot.reservation.id)">Remove</button>
    </li>
  </ul>
</div>
