<!-- client-dashboard.component.html -->
<div class="container mt-4">
    <h2 class="mb-3">Client Dashboard</h2>
    <div class="row">
        <!-- Left Column: Salon List -->
        <div class="col-md-4">
            <h4>Available Salons close to you</h4>
            <ul class="list-group">
                <!-- List salons here -->
                <li class="list-group-item">Salon 1</li>
                <li class="list-group-item">Salon 2</li>
                <!-- ... -->
            </ul>
        </div>
        <!-- Right Column: Appointment Booking -->
        <div class="col-md-8">
            <h4>Book an Appointment</h4>
            
        </div>
    </div>
</div>
